div{
  font-family: Arial;
}

.container{
  display:flex;
  background-color: rgb(120, 82, 178);
  padding: 10px 15px 10px 15px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.home-text{
  font-weight: bold;

}

.search-bar{
  padding: 8px 15px 8px 15px;
  width: 450px;
  border-radius: 150px;
  border: none;
  padding-left: 20px;

}

.download-button{
  background-color: rgb(120, 82, 178);
  color: white;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
}