p{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  color:rgb(106, 106, 106);
  font-family: Arial;
  font-size:16px
}

.email{
  margin-bottom: 10px;
}

.email-box{
  font-size: 16px;
  width: 400px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.conditions{
  margin-bottom:10px;
}

.agree-button{
  padding-top: 10px;
  padding-bottom: 10px;
  width:400px;
  border-radius: 30px;
  border:none;
  background-color: rgb(46, 100, 189);
  color: white;
}